*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
                         "main   main   main  "
                         "footer footer footer";
}

@media screen and (max-width: 1250px){
    body{
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-areas: "header"
                             "main"   
                             "footer" !important;
    }
}


